<div id="modal-init" class="modal cover">
    <div class="modal-content">
      <h5 class="lime-text text-lighten-1 right-align"><%= i18n.t('index.welcome', { title: meta.app_title }) %></h5>
      <p class="white-text right-align">
        <%= i18n.t('index.loading') %>
      </p>
      <div class="progress">
        <div class="indeterminate spinner-yellow-only"></div>
      </div>
    </div> 
</div>