body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#implementations-page {
  min-height: 100vh;
  width: 100%;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#cards, #map {
  margin-top: 48px;
}

#cards {
  overflow-y: scroll;
}

.card-detail {
  background-color: #fafafa;
  width: 100%;
}

.card-distance {
  margin-top: -1em;
  font-size: smaller;
  color: darkgrey;
}

.card-content p,
.card-detail p {
  font-size: smaller;
}

.cover {
  background-image: url("/public/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    
}

.sidenav {
  z-index: 1001;
}

footer.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 48px;
  line-height: 48px;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}  

footer.page-footer div {
  padding: 0;
  margin: 0;
}

footer.page-footer a {
  color: #fafafa;
  text-transform: uppercase;
}

nav .brand-logo {
  padding-left: 1rem;
}

ul.tabs {
  overflow-x: hidden;
}

.card.small .card-image, 
.card.medium .card-image, 
.card.large .card-image {
  max-height: 55%;
}

#osm, #cards {
  height: calc(100vh - 64px - 48px - 48px);
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 1.5rem;
    width: 80%;
    padding: 1px;
    text-align: center;
    white-space: nowrap;    
  }

  footer.page-footer {
    height: 32px;
    line-height: 32px;
    font-size: small;
  }

  #osm, #cards {
    height: calc(100vh - 58px - 47px - 32px);
  }

  .card .card-content {
    padding: 14px 24px;
    text-overflow: ellipsis;
  }  
  
}

@media only screen and (max-width: 600px) {
  #osm, #cards {
    height: calc(100vh - 58px - 46px - 32px);
  } 
}

/* Modals with the details */

.modal.modal-detail {
  background-color: #fafafa;
  height: 80%;
  max-height: 80%;  
  width: 50%;
  max-width: 600px;
  top: 10% !important;
}

#modal-init {
  top: 15% !important;
  height: 60%;
}

#moda-linit h5,
#moda-linit p {
  margin: 0;
}

.progress .indeterminate {
  background-color: yellowgreen;
}

.progress {
  background-color: white;
}

p.permalink {
  font-size: x-small;
}


@media only screen and (max-width: 992px) {
  .modal.modal-detail,
  .modal#modalabout {
    width: 70%;
    max-width: 600px;
    height: 90%;
    max-height: 90%; 
    top: 5% !important;
  }
  #modal-init {
    top: 5% !important;
    height: 90%;
  }  
}

@media only screen and (max-width: 600px) {
  .modal.modal-detail,
  .modal#modalabout {
    width: 95%;
    max-width: 95%;
    height: 98%;
    max-height: 98%;
    top: 1% !important;
  }
}
