/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#cards, #map {
  margin-top: 48px;
}

#osm {
  height: calc(100vh - 64px - 48px);
}

.card-detail {
  background-color: #fafafa;
  width: 100%;
}

.card-content .card-distance {
  margin-top: 0;
  font-size: 80%;
  color: darkgrey;
}

.sidenav {
  z-index: 1001;
}

.modal.modal-fixed-footer.modal-detail {
  height: 90%;
}

.brand-logo {
  display: inline-block;
  height: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
}