<footer class="page-footer grey darken-3 z-depth-2">
  <div class="row">
    <div class="col s12 right-align">
      <a href="<%= content.app.issue_url %>" target="_blank"><%= i18n.t('index.feedback') %></a> &nbsp; | &nbsp;
      <a class="modal-trigger" href="#modalabout"><%= i18n.t('index.about') %></a>
    </div>
  </div>
</footer>
