<footer class="page-footer grey darken-3 z-depth-2">
  <div class="row">
    <div class="col s6 left-align">
      <a href="https://quick-app-initiative.ow2.io/" target="_blank" class="grey-text text-darken-2">Quick App Initiative</a>
    </div>
    <div class="col s6 right-align">
      <a class="white-text modal-trigger" href="#modalabout"><%= i18n.t('index.about') %></a>
    </a>
    </div>
  </div>
</footer>
