<div id="modalinit" class="modal cover">
    <div class="modal-content">
      <h5 class="white-text right-align"><%= i18n.t('index.welcome', { title: meta.app_title }) %></h5>
      <p class="white-text right-align">
        <%= i18n.t('index.loading') %>
      </p>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div> 
</div>