<div id="modalinit" class="modal small">
    <div class="modal-content">
      <h5><%= i18n.t('index.welcome', { title: meta.app_title }) %></h5>
      <p>
        <%= i18n.t('index.loading') %>
      </p>
      <div class="progress">
        <div class="indeterminate"></div>
    </div> 
</div>