<div id="modalinit" class="modal small">
    <div class="modal-content">
      <h5>Welcome to <%= meta.app_title %></h5>
      <p>
        Finding the interesting places around you... I´m using your location only for that.   
      </p>
      <div class="progress">
        <div class="indeterminate"></div>
    </div> 
</div>